// ______________ colors ______________ 

$primary : #9097e1;
$dark : #333;
$secondary: #62ebca;
$white: rgb(215, 215, 215);



// shadow
$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


// radius
$radius: 5px;