@import "../../../SASS/reset";
@import "../../../SASS/variables";

.product-categories-paragraphe{
    border: 3px solid $secondary ;
    margin: 2rem;
    padding: 1rem;
    border-radius: $radius;
    


}