@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,100;1,300&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input, textarea {
  border: none;
  width: 100%;
  background-color: rgb(199, 199, 199);
  padding: 0.3rem;
  border-radius: 0.2rem;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icones-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.icones-boxes div {
  padding: 2rem;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  width: 150px;
  height: 230px;
  margin: 2rem;
}
.icones-boxes h3 {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.home-slider-container {
  background-color: #9097e1;
}
.home-slider-container .swiper {
  width: 80%;
  height: 30rem;
}
.home-slider-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  color: #9097e1;
  color: #333;
  height: 90vh;
  background-position: 35% center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-image: url("../../../assets/image/extrusion-products.jpg");
}
.home-hero .btn {
  margin-top: 62vh;
}
.home-hero h1 {
  font-size: 1.2rem;
  padding: 0 1rem;
  background-color: #9097e1;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 2rem;
}

.section-hero-details {
  padding: 2rem 1rem;
  height: auto;
  background-color: #9097e1;
}
.section-hero-details h2 {
  margin-bottom: 1rem;
}
.section-hero-details div {
  margin: 1rem 0;
  font-size: 0.8rem;
}

.hero-collect {
  background-color: #9097e1;
  padding: 2rem 1rem;
  min-height: 100vh;
  height: auto;
}
.hero-collect h3 {
  font-size: 1.4rem;
  margin: 1rem 0;
}
.hero-collect p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  text-align: center;
}

.material-home-section {
  background-color: rgb(200, 200, 231);
  height: auto;
  min-height: 100vh;
  padding: 2rem 1rem;
  color: #333;
}
.material-home-section p {
  font-size: 0.8ren;
  margin-bottom: 2rem;
}

.home-method-section {
  min-height: 100vh;
  height: auto;
  padding: 1rem;
}

.problem-hero {
  min-height: 100vh;
  padding: 2rem 0;
}

.tortue-container {
  width: 100%;
}
.tortue-container img {
  width: 100%;
}

.microplastique-container {
  width: 100%;
}
.microplastique-container img {
  width: 100%;
}

.hero-heading {
  max-width: 1400px;
  margin: 2rem auto;
}
.hero-heading h2 {
  margin-bottom: 1rem;
}

.hero-txt {
  display: flex;
  margin: 2rem auto;
  text-align: center;
  max-width: 800px;
}

.hero-collect-explain {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-collect-explain .hero-collect-explain-img {
  width: 100%;
  max-width: 600px;
}
.hero-collect-explain .hero-collect-explain-img img {
  width: 100%;
}

.problem-hero {
  background-color: rgb(74, 74, 74);
  color: lightblue;
}
.problem-hero figcaption {
  margin: 1rem 0;
}
.problem-hero .hero-heading, .problem-hero p {
  color: white;
}

.paralax {
  background-image: url("../../../assets/image/tortue_sac_plastique.png");
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
}

.paralax2 {
  background-image: url("../../../assets/image/plastic-ocean.png");
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
}/*# sourceMappingURL=home.css.map */