@import "../../SASS/reset";
@import "../../SASS/variables";
.swiper {
  width: 100%;
  
  height: 40rem;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.home-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  color: $primary;
  color: $dark;
  height: 90vh;
  background-position: 35% center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  .btn {
    margin-top: 69vh;
  }
  h1 {
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.312);
  border-radius: 10px;
  padding: 1rem;
  }

  background-image: url("../../assets/image/extrusion-products.jpg");
}

.section-hero-details {
  padding: 2rem 1rem;
  height: auto;
  background-color: $primary;

  h2 {
    margin-bottom: 1rem;
  }
  div {
    margin: 1rem 0;
    font-size: 0.8rem;
  }
}

.hero-collect {
  background-color: $primary;
  padding: 2rem 1rem;
  min-height: 100vh;

  height: auto;

  h3 {
    font-size: 1.4rem;
    margin: 1rem 0;
  }
  p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}


.material-home-section{
  background-color: rgb(200, 200, 231);
  height: auto;
  min-height: 100vh;
  padding: 2rem 1rem;
  color: $dark;
  p{
   font-size:  0.8ren;
   margin-bottom: 2rem;
  }
}

.home-method-section{
  min-height: 100vh;
  height: auto;

  padding: 1rem;

}