@import '../SASS/reset';
@import '../SASS/variables';

.footer {
  background-color: $primary;
  height:  20rem;
  margin-top: 10rem;
  padding: 1rem 1rem 1rem 2rem;
  width: 100%;
  z-index: 999999;
  font-size: 1.2rem;
}

.social-media-container {
  a {
    font-size: 30px;
    margin: 0 20px;
    border: none;
    color: $dark;
    background-color: transparent;
  }
}


.footer-nav-container{
  display: flex;
  justify-content: space-around;
}

.footer-nav-section{
  p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    color: $dark;
    text-align: left;
  }
ul{
  li{
    font-size: 0.9rem;
    margin: 1rem 0;
transition: all 0.2s;
text-align: left;


    &:hover{
      color: $secondary;
    }
  }
}
}

.all-right-reserved{
  margin-top: 2rem;
  font-size: 0.8rem;
  text-align: center;
}