
@import "../../SASS/reset";
@import "../../SASS/variables";



.plastic-type-container{
    margin: 2rem 0;
    h4 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      background-color: $primary;
    }
    .red{
      color: red;
      font-weight: bolder;
    }
    .orange{
      margin: 1rem 0;
      color: orange;
      font-weight: bolder;
    }
    .green {
      color: green;
      font-weight: bolder;
    }
  }
  
  .plastic-icons{
    height: 8rem;
    width: auto;
    img{
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }
  
  .plastic-type-content{
    display: flex;
    flex-direction: column;
  }
  


.plastic-types-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1.3rem 0;
        font-weight: bolder;
        .plastic-icons{
            margin:  1rem 3rem;
        }

    }
}