@import "./SASS/reset";
@import "./SASS/variables";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: white;
  color: $dark;

}

a {
  text-decoration: none;
  color:  $white;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  // margin-bottom: 0.4rem;
}


.container {
  width: 100%;
position: relative;
  margin: 0 auto;
  padding: 0 0;
  text-align: center;
}
.page-content{
  min-height: 100vh;
  padding: 0 1rem;
  font-size: 1rem;
  max-width: 1400px;
  margin: 2rem auto 4rem auto;

}



.heading {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 0 1rem;

}

.heading p {
  color: #828282;
  font-size: 0.9rem;
}


.text-container{
  max-width: 960px;
  text-align: left;
  margin: 0 auto;
  font-size: 1rem;
  h4 {
    font-size: 2rem;
    background-color: $primary;
    text-align: center;
    padding: 0.4rem 0;
    color: rgb(55, 28, 136);
    margin: 5rem 0;
    position: relative;
    border-radius: $radius;
    span{
      font-size: 3.5rem;
      position: absolute;
      top: -0.6rem;
      left: 35%;
      text-align: center;
    }
  }
}

.text-container p {
  margin: 2rem 0;
}
.text-container div {
 background-color: grey;
}


.boxes-explain{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
  margin: 4rem 0;
  div{
    padding: 30px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    height: 300px;
  }
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;

}

.little-boxe img {
width: 3rem;
margin-bottom: 1.2rem;
}
.img-box{
  width: 100%;
}

.boxes div {
  padding: 2rem;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.boxes h3 {
  margin-top: 0rem;
  font-size: 0.9rem
}

.boxes a:hover {
  color: #777;
}

.form {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid $primary;
  border-radius: 5px;

  color: $dark;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
  background-color: $secondary;
}

.btn-cta {
  border: 3px solid $primary;
  transition: all 0.3s;
  margin-top: 3rem;
  &:hover{
    background-color: $primary;
  }
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn-danger {
  background: rgb(226, 50, 50);
  border: none;
}

.btn-back {
  width: 150px;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
  color: $dark;
}


.btn-close {
  background: none;
  border: none;
  color: #000;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-close:hover {
  color: red;
  transform: scale(0.98);
}


footer {

  top: 95vh;
  text-align: center;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .boxes {
    grid-template-columns: 1fr;
  }

  .form {
    width: 90%;
  }

  .ticket-created h2,
  .heading h1 {
    font-size: 1.2rem;
  }

  .heading p {
    font-size: 1rem;
  }
}


.leaflet-container {

  height: 20rem;

}






.leaflet-partner-container {
 
  
  height: 10rem;
}



.contact-section {
  margin-top: 3rem;
  .btn{
    margin-top: 1rem;
  }
}

.flex-content{
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  justify-content: center;



}



.card{

  
  background-color: $primary;
  color: $dark;
  width: 300px;
  border-radius: $radius;
  height: 600px;
  margin: 1rem;
  position: relative;

  .card-content {
    padding: 0 1rem;
    p{
      font-size: 0.8rem;
      margin-top: 1rem;
      height: 8rem;
      margin-bottom: 1rem;
    }
  }
  .card-footer{
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
    left: 0;
    right: 0;
  }
  
  img{
      border-radius: $radius $radius 0 0;
      width: 100%;
  }

 
}

.nb-collect{
  background-color: $primary;
  margin-bottom: 1rem;
}

.section-title {
  font-size: 3rem;
  text-transform: uppercase;
  span {
    font-size: 7rem;
    color: $primary;
  }
}



.image-container{
  width: 100%;
  max-width: 600px;
 margin: 2rem auto;

  img{
    width: 100%;
  
  }
}

.not-found-container{
  background-color: $dark;
  padding-top: 1rem;
  color: white;
  height: 100vh;
  h1{
    font-size: 4rem;
   
  }
}

.loader-not-found{
  width: 60%;
  max-width: 500px;
  margin: 2rem auto;
  animation: loader-anim  infinite 10s linear;

  img {
    width: 100%;

  }
}

@keyframes loader-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.plastic-type-container{
  margin: 2rem 0;
  h4 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    background-color: $primary;
  }
  .red{
    color: red;
    font-weight: bolder;
  }
  .orange{
    margin: 1rem 0;
    color: orange;
    font-weight: bolder;
  }
  .green {
    color: green;
    font-weight: bolder;
  }
}